<div class="container d-flex mt-3">
  <div class="col-6">
    <mdv-twenty-five-drink-list [drinks]="drinks$ | async"
                          (selected)="selectDrink($event)"
                          (deleted)="deleteDrink($event)">
    </mdv-twenty-five-drink-list>
  </div>

  <div class="col-6">
    <mdv-twenty-five-drinks-details [drink]="selectedDrink$ | async"
                              [form]="form"
                              (saved)="saveDrink($event)"
                              (cancelled)="cancel()">
    </mdv-twenty-five-drinks-details>
  </div>
</div>
